---
import "../styles/global.css";
import MainLayout from "@/layout/MainLayout.astro";
import HeroSection from "@/components/HeroSection.astro";
import NavBar from "@/components/NavBar.astro";
---

<MainLayout>
  <section class="max-w-7xl bg-orange-500 mx-auto">
    <HeroSection />
  </section>
</MainLayout>
