---
import "../styles/global.css";
import MainLayout from "@/layout/MainLayout.astro";
import NavBar from "@/components/NavBar.astro";
import HeroSection from "@/components/HeroSection.astro";
import AboutMe from "@/components/AboutMe.astro";
import Tech from "@/components/Tech.astro";
import Footer from "@/components/Footer.astro";
---

<MainLayout>
  <div class="max-w-[1440px] mx-auto px-5 md:px-10 lg:px-16">
    <NavBar />
    <main>
      <HeroSection />
      <AboutMe />
      <Tech />
    </main>
    <Footer />
  </div>
</MainLayout>
