---
import NavBar from "./NavBar.astro";
import { Button } from "./ui/button";
import { ArrowUpRight } from "@lucide/astro";
---

<main class="h-screen">
  <div class="w-full flex flex-col">
    <div class="flex flex-col text-left min-h-60 items-end py-4">
      <h1 class="text-end">BLESSING <br /> KODZE</h1>
      <p class="pr-2">BUILDING FOR AFRICA...</p>
      <div
        class="border border-white rounded-xl bg-white border-dashed py-1 w-lg"
      >
      </div>
    </div>
    <div class="flex py-4">
      <div class="flex-1">
        <h1 class="font-black text-start">SOFTWARE <br /> ENGINEER</h1>
        <div
          class="border border-white bg-white rounded-xl border-dashed py-1 w-lg"
        >
        </div>
        <div>
          <h1>FOUNDER</h1>
        </div><p class="text-start brightness-92 max-w-md pl-2">
          I design and engineer digital products that are fast, beautiful, and
          built to last.<br /> Based in Johannesburg. <br /> Open to work
        </p>
      </div>
      <div class="flex-1 flex justify-center items-center gap-4">
        <Button variant="outline">About Me</Button>
        <Button>Contact Me <span><ArrowUpRight /></span></Button>
      </div>
    </div>
  </div>
</main>
