---
import NavBar from "./NavBar.astro";
---

<main class="h-screen bg-green-300">
  <NavBar />
  <div class="w-full flex flex-col bg-yellow-400">
    <div class="flex flex-col text-left h-60 items-end p-4 bg-green-700">
      <h1>Blessing <br /> Kodze</h1>
      <p>
        I design and engineer digital products that are fast, beautiful, and
        built to last.<br /> Based in Johannesburg. <br /> Open to work
      </p>
    </div>
    <div class="flex flex-col text-right items-start p-4 bg-pink-400">
      <h1>Software <br /> Engineer</h1>
      <h1>&</h1>`
      <h1>Founder</h1>
      <p>Building for africa</p>
    </div>
  </div>
</main>
