---

---

<nav class="flex items-center justify-between py-6 md:py-8 md:mb-8">
  <ul class="flex gap-8">
    <li data-animate="nav">
      <a href="#about" class="nav-link">About Me</a>
    </li>
    <li data-animate="nav">
      <a href="#tech" class="nav-link">Stack</a>
    </li>
  </ul>
  <div data-animate="nav">
    <a
      href="mailto:blessingeleer@gmail.com"
      class="nav-link"
    >
      blessingeleer@gmail.com
    </a>
  </div>
</nav>
