---

---

<nav class="flex justify-between md:mb-20">
  <ul class="flex gap-8">
    <li>About Me</li>
    <li>Random Musings</li>
  </ul>
  <div>
    <a href="mailto:blessingeleer@gmail.com">blessingeleer@gmail.com</a>
  </div>
</nav>
